## Settings file was created by plugin UnityVR_Bepinex v1.0
## Plugin GUID: UnityVR_Bepinex

[General]

## Different mode of patching a unity game into VR
# Setting type: String
# Default value: OpenXRLoader
# Acceptable values: OpenXRLoader, SteamVRPatch, IL2Cpp, IL2CppSteamVRPatch
VRMode = OpenXRLoader

## Use OpenVR or OpenXR
# Setting type: String
# Default value: OpenVR
# Acceptable values: OpenXR, OpenVR
vrApi = OpenVR

## SteamVr method already done or not
# Setting type: Boolean
# Default value: false
# Acceptable values: True, False
steamVRpatched = false

# Setting type: String
# Default value: false
oldSteamVRLegacy = false

## stealMainCam instead of creating a VR rig
# Setting type: String
# Default value: false
stealMainCam = false

## stealMainCam mode: reparent or convert active cam. Accepted values: reparent, convert
# Setting type: String
# Default value: convert
stealMainCamMode = convert

## stealMainCamForceTransformAll
# Setting type: String
# Default value: false
stealMainCamForceTransformAll = false

## OpenXRLoader Method post 2020, fix black screen if renderpipeline does not support XR
# Setting type: String
# Default value: false
renderPipelineOpenXRFix = false

[POSTPROCESSFIX]

## Fix for some where TAA is problematic and cant be disabled ingame
# Setting type: String
# Default value: false
disableTAA = false

[UICONFIG]

## Size of the VR UI, default is 2f
# Setting type: Single
# Default value: 2
VRUI scale = 2

## Allow HDR
# Setting type: String
# Default value: true
Allow HDR = true

## Allow MSAA
# Setting type: String
# Default value: true
Allow MSAA = true

## VRUI Always On Top
# Setting type: String
# Default value: true
VRUIAlwaysOnTop = true

## Decouple pitch, making rotation of the game camera on Y axis not applied to VR Camera
# Setting type: String
# Default value: true
Decoupled Pitch = true

## Force UI to follow game camera rotations
# Setting type: String
# Default value: false
forceUIfollowGameCamRot = false

## Show crosshair on VRUI
# Setting type: String
# Default value: false
showCrosshair = false

## Size of the crosshair, default is 0.1f
# Setting type: Single
# Default value: 0.1
crosshairScale = 0.1

## Distance from headset of the crosshair, default is 1f
# Setting type: Single
# Default value: 1
crosshairDistance = 1

## Is UI VR cam orthographic
# Setting type: String
# Default value: false
UICamOrthographic = false

## UI VR cam orthographic size
# Setting type: Single
# Default value: 1
UICamOrthographicScale = 1

[UIFIX]

## List of cameras excluded from RT Fix method, separated by coma
# Setting type: String
# Default value: 
ExcludedRTFixCams = 

## Render mode force to renderTexture for other UI cameras: modes: 0:Nothing,1:Forcing all other cams to RT, 2:Forcing only cam that have a UI layer in its culling mask, 3:Forcing only cam not excluded from config file, 4:Forcing only cam not excluded from config file and forcing "Green" shader fix, 5:Not forcing cam to RT but moving cam gameobject in front of VRUIcam
# Setting type: Int32
# Default value: 0
forceUICamToRenderTextureMode = 0

## Force worldSpace canvases to be set to screenspaceCamera rendermode
# Setting type: String
# Default value: false
forceScreenSpaceCameraMode = false

## Fix for some canvases being at the wrong relative position, force their original relative position
# Setting type: String
# Default value: false
forceCanvasPositions = false

## Fix for some canvases being at the wrong relative position Z, force it to zero
# Setting type: String
# Default value: false
forceCanvasesElementsZDepth = false

## Fix to force VR UI canvases to look into the DontDestroyOnLoad layer
# Setting type: String
# Default value: false
forceCanvasSearchInDontDestroy = false

## Force UICam cullingMask to all (-1)
# Setting type: String
# Default value: false
forceUICamCullingMaskAll = false

## Force UICam cullingMask layer value
# Setting type: String
# Default value: false
forceUICamCullingMaskLayer = false

## Force UICam cullingMask layer value
# Setting type: Int32
# Default value: 31
UICamCullingMaskLayer = 31

## Fix UICanvas Not Transparent by changing RT RenderTextureFormat to RenderTextureFormat. Use int 0 to 28. Most common values are : (default)ARGB32 = 0, (known to work on some games) ARGBFloat = 11
# Setting type: Int32
# Default value: 0
fixUICanvasNotTransparent = 11

## Fix UICanvas Not Transparent when fixUICanvasNotTransparent didn't work, makes UI semi transparent on everything on it
# Setting type: String
# Default value: false
fixUICanvasNotTransparentAggressive = false

## Fix to force UI Cam position if needed, sometimes it it not set properly or the game can prevent it to be far away (-1000) or put it in origin 0 for some reason
# Setting type: String
# Default value: false
forceUICamPosition = false

## UICam position ScreenSpaceCameraPosition (x,y,z)
# Setting type: String
# Default value: -1000,-1000,-1000
ScreenSpaceCameraPosition = -1000,-1000,-1000

## Force UICam position to an ingame cam or a gameobject
# Setting type: String
# Default value: 
ScreenSpaceCameraPositionFollowCam = 

## UIVR offset relative to vr headset (x,y,z)
# Setting type: String
# Default value: 0,0,1.5
canvasOffset = 0.0,0.0,0.8

## Use a coroutine to check for new canvases every seconds
# Setting type: String
# Default value: true
checkForCanvasesRoutine = true

## Add WorldSpace Canvas Layers To VRCam
# Setting type: String
# Default value: true
AddWorldSpaceCanvasLayerToVRCam = true

## Name of canvases you don't wanna modify. Separated by ';' semi colon.
# Setting type: String
# Default value: 
canvasToIgnore = 

## noVRUI, try this if VR UI is not transparent
# Setting type: String
# Default value: false
noVRUI = false

[VRCAMFIX]

## List of cameras excluded from the function looking for ActiveMainCam, used when a game cam should not be selected as activeCam
# Setting type: String
# Default value: 
excludedCameras = 

## List of cameras we need to add their cullingMask to VRCam
# Setting type: String
# Default value: 
includeOtherCamerasCullingMasks = 

## Force physics rate Time.fixedDeltaTime to original value
# Setting type: String
# Default value: false
physicsDeltaTimeFix = false

## Force VRCam clearFlags
# Setting type: String
# Default value: false
forceCameraClearFlags = false

## Type of clearflags on VR Camera. Default is 2: SolidColor (1: Skybox, 2: SolidColor, 3:Depth, 4: Nothing)
# Setting type: Int32
# Default value: 2
# Acceptable values: 1, 2, 3, 4
VRCameraClearFlagsIndex = 2

## Force VRCam cullingMask to all (-1)
# Setting type: String
# Default value: false
forceVRCamCullingMaskAll = false

## attach VRCAM To OtherGameObj
# Setting type: String
# Default value: false
attachToOtherGameObj = false

## Copy attached gameobj position to VRCam
# Setting type: String
# Default value: false
attachPosition = false

## Copy attached gameobj rotation to VRCam
# Setting type: String
# Default value: false
attachRotation = false

## Full path to gameobj to attach VRCam to
# Setting type: String
# Default value: 
pathToOtherGameObj = 

## AssemblyQualifiedName name of component contained by the gameobj to attach VRCam to
# Setting type: String
# Default value: 
ToOtherGameObjClass = 

## Fix for upside down bug with childUICam, 0 = no fix; 1 = don't create childUICam and don't exclude it from PP; 2 = fix Rect
# Setting type: Int32
# Default value: 0
upsideDownFix = 2

## Force VRCam RenderingPath to Forward
# Setting type: String
# Default value: false
forceVRCamRenderingPathForward = false

## Force VRCam to not have any renderTexture
# Setting type: String
# Default value: true
noVRCamRT = true

## Use active Cinemachinebrain cam
# Setting type: String
# Default value: true
useCineMachineCam = true

## If not empty, full path to component and property holding the camera value. Ex: Reptile.CustomCamera,ActiveCam:currentCam => fullnamespace,assembly:property
# Setting type: String
# Default value: 
forceActiveCamFromCustomComp = 

## copyTargetCamComponents
# Setting type: String
# Default value: false
copyTargetCamComponents = false

## Name of camera VR rig has to follow in priority, seperated by coma
# Setting type: String
# Default value: 
forceMainCamName = 

## VRCamScale size/scale of the VR cam (x,y,z)
# Setting type: String
# Default value: 1,1,1
VRCamScale = 1,1,1

## Force low res on target cam
# Setting type: String
# Default value: true
forceLowResOnTargetCam = true

## Force VRCam farClipPlane when too small for some reason... 0 = don't force
# Setting type: Int32
# Default value: 0
forceVRCamFarClipPlane = 0

## Fix to use pre 2020 camera stacks, making all cameras StereoTargetEyeMask.Both except the ones in excludedCamerasStack
# Setting type: String
# Default value: false
CameraStackPre2020 = false

## List of cameras excluded from the pre 2020 camera stack fix
# Setting type: String
# Default value: 
excludedCamerasStack = 

## Activate to force get highest depth cam for VRCam, except the ones in excludedCameras, useful in pre2020 camera stacks with similar depths
# Setting type: String
# Default value: false
forceHighestDepthCam = false

[VRCONFIG]

## StereoRenderingMode (multipass or singlepass)
# Setting type: String
# Default value: true
multiPass = true

## Use head aiming
# Setting type: String
# Default value: false
headAiming = false

## headAimingGameObject full path or unique type
# Setting type: String
# Default value: 
headAimingGameObject = 

## Use hand aiming
# Setting type: String
# Default value: false
handAiming = false

## handAimingGameObject full path or unique type
# Setting type: String
# Default value: 
handAimingGameObject = 

## Create hands
# Setting type: String
# Default value: false
createHands = true

## Left hand = 0; Right hand = 1
# Setting type: Int32
# Default value: 1
handController = 1

## fix Controller Tracking breaking on scene loading
# Setting type: String
# Default value: false
fixControllerTracking = false

## Left hand prefab name
# Setting type: String
# Default value: vr_glove_left_model_slim.prefab
leftHandString = vr_glove_left_model_slim.prefab

## Right hand prefab name
# Setting type: String
# Default value: vr_glove_right_model_slim.prefab
rightHandString = vr_glove_right_model_slim.prefab

## Name of the assets for vr hands
# Setting type: String
# Default value: hands
handBundleName = hands

## Show hands models
# Setting type: String
# Default value: false
showHandsModels = false

## List of gameobject path that have an Animator component that we want to apply the hands to, comma separated
# Setting type: String
# Default value: 
inversedKinematicsList = 

## use Animator SetIK Patches to bind VRcontrollers to IK
# Setting type: String
# Default value: false
useAnimatorSetIKPatches = false

## use Update to Force IKHands pos and rot. useAnimatorSetIKPatches MUST BE FALSE
# Setting type: String
# Default value: false
useUpdateForIKHands = false

## How to attach objects to hands or head, 0 is reparent, 1 is copy position and rotation. Reparenting should keep animations but will introduce more bugs
# Setting type: Int32
# Default value: 0
# Acceptable values: 0, 1
attachObjMode = 1

## If not empty, full path to gameobjects, position offset, rotation offset, separated by ;. Ex: "Root/gun/handle:0.5,0.1,0.2:0.5,0.1,0.2;Root/gun/handle2:0.5,0.1,0.2:0.5,0.1,0.2"
# Setting type: String
# Default value: 
rightHandAttachObjects = Controllers - GameplayScene/Player/animCamPivot/QuakePivot/RecoilPivot/Environment Camera/FootSpace:0,0,0:45,0,0

## If not empty, full path to gameobjects, position offset, rotation offset, separated by ;. Ex: "Root/gun/handle:0.5,0.1,0.2:0.5,0.1,0.2;Root/gun/handle2:0.5,0.1,0.2:0.5,0.1,0.2"
# Setting type: String
# Default value: 
leftHandAttachObjects = Controllers - GameplayScene/Player/animCamPivot/QuakePivot/RecoilPivot/Environment Camera/Weapon Space Offset:0,0,0:45,0,0;Controllers - GameplayScene/Player/animCamPivot/QuakePivot/RecoilPivot/Environment Camera/Weapon Camera:0,0,0:45,0,0

## If not empty, full path to gameobjects, position offset, rotation offset, separated by ;. Ex: "Root/gun/handle:0.5,0.1,0.2:0.5,0.1,0.2;Root/gun/handle2:0.5,0.1,0.2:0.5,0.1,0.2"
# Setting type: String
# Default value: 
headAttachObjects = 

## If attached objects are inactive, more aggressive Find function
# Setting type: String
# Default value: false
findActiveAndInactiveObjects = false

## If attached to hands objects pos and rot don't update properly this tries updating later in the loop
# Setting type: String
# Default value: false
fixAttachObjectForceBeforeRender = true

## If attached to hands objects pos and rot use Transform patches to force positions
# Setting type: String
# Default value: false
useTransformSetterPatchForAttachObj = false

## Pause game when SteamVR Dash is visible
# Setting type: String
# Default value: false
pauseGameWhenDashboardVisible = false

## For pre 2020 games with steamVR, on scene loading, sometimes, VR inputs don't work anymore
# Setting type: String
# Default value: false
fixSteamVRInputActions = false

## emulates VR controllers as an xbox controller. ViGem MUST BE INSTALLED
# Setting type: String
# Default value: false
vrControllersSupport = true

## Type of gamepad emulated: xbox360, ps4
# Setting type: String
# Default value: xbox360
controllerType = xbox360

## Force SteamVR 6dof custom update for pre 2020 only.
# Setting type: String
# Default value: false
forceSteamVR6DofForPre2020 = false

## Activate to try to optimize fps
# Setting type: String
# Default value: false
cameraPatchesActive = false

